html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
}

a, a:hover {
    color: white;
}

/* menu cabecera */
.menu {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.2);
    height: 50px;
    z-index: 50;
    font-size: 2.1em;
    color: #fff;
}

.menu .menu-burger {
	position: absolute;
	left: 18px;
	top: 6px; 
}

.menu .menu-tool {
    position: absolute; 
    right: 18px; 
    top: 6px;
}

.menu .menu-title {
	position: absolute; 
	left: 60px; 
	top: 4px; 
/*	font-size: 1.6em !important;*/ 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	width: calc(100% - 120px)
}

.depth-bar {
    position: absolute;
    bottom: 0px;
    float: left;
    background: rgba(255,0,0,0.2);
    height: 5px;
    width: 100%;
}


/* contenido de menu, secciones */
.section-content {
    position: absolute;
    top: 50px;
    z-index: 150;
    width: 100%;
    background: #fff;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.sections ul {
    padding: 0px;
}

.sections li {
    list-style-type: none;
}

.section-item:focus,
.section-item {
    padding: 10px 20px 10px 20px;
    width: 100%;
    position: relative;
    float: left;
    color: #666;
    font-size: 22px;
    line-height: 28px;
    text-decoration: none;
    z-index: 100;
}

.section-item:hover {
    background-color: #aaa;
    text-decoration: none;
    color: #fff;
}

.section-item.active {
    background-color: red;
    text-decoration: none;
    color: #fff;
}

.section-cards {
    position: relative;
    float: left;
    width: 100%;
/*    padding: 0px;*/
    padding: 10px 20px 10px 20px;
}

/* contenido de tarjetones */
.arrow {
    z-index : 100; 
    float:left; 
    position: absolute; 
}

.arrow span {
    font-size: 2.1em;
    color: #fff;
    cursor: pointer;
    padding: 6px;
    background: rgba(0, 0, 0, .5);
}

.arrow-left {
	top: calc(50% - 16px);
	left: 0px;
}

.arrow-left span {
    border-radius: 0px 4px 4px 0px;
}

.arrow-right {
    top: calc(50% - 16px);
    right: 0px;
}

.arrow-right span {
    border-radius: 4px 0px 0px 4px;
}

.arrow-top {
    top: 49px;
    left: calc(50% - 16px);
}

.arrow-top span {
    border-radius: 0px 0px 4px 4px;
}

.arrow-bottom {
    bottom: 0px;
    left: calc(50% - 16px);
}

.arrow-bottom span {
    border-radius: 4px 4px 0px 0px;
}

.controls {
    z-index: 100; 
    float: left; 
    position: absolute; 
    right: 0px; 
    top: 50px; 
    background: rgba(0, 0, 0, .5); 
    border-radius: 0px 0px 0px 6px;
}

.controls .controls-selected {
    position: absolute;
    right: 0px;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 5px 100px 0px 10px;
    border-radius: 4px 0px 0px 4px;
    white-space: nowrap; 
    margin-top: -5px; 
}

.controls .controls-selected-item {
    display: inline-block;
    width: 50px;
}

.controls .controls-item {
    text-align: center; 
    margin: 6px;
    color: #fff; 
    font-size: 2.1em;
    cursor: pointer;
}

.controls .controls-nav {
    text-align: center; 
    margin: 10px;
    color: #fff; 
    font-size: 0px;
}

.controls .nav-point {
    display: inline-block; 
    border: solid 1px #fff; 
    margin: 2px; 
    width: 12px; 
    height: 12px; 
    border-radius: 4px;
}

.controls .nav-point div {
    background: #fff; 
    width: 100%; 
    height: 100%;
}

.controls .pulso-plus {
    position: absolute; 
    margin-left: -9px; 
    margin-top: -5px;
}

.controls .pulso-minus {
	position:absolute;
	margin-left: -11px;
	margin-top: -5px;
}

.content {
    float: left; 
    position: absolute; 
    top: 80px; 
    left: 60px; 
    right: 60px;
    bottom: 60px;
/*    text-overflow: ellipsis;*/
    overflow: hidden;
}

.content .content-title {
    font-size: 3em; 
    color: #fff;
}

.content .content-text {
    font-size: 1.5em; 
    color: #fff;
}

.fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
/*    z-index: -100;*/
}

.background-img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50%\9 !important;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.disabled-control {
	color: #888 !important;
	cursor: not-allowed !important;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 768px) {
	.menu {
	   height: 40px;
	   font-size: 1.6em;
	}
	
	.menu .menu-burger {
	   left: 10px;
	}
	
	.menu .menu-tool {
	   right: 12px;
	}
	
	.menu .menu-title {
	   left: 40px;
	}
	
	.section-content {
	   top: 40px;
	}
	
	.controls {
	   top: 40px;
	}
	
	.arrow span {
	   font-size: 1.6em;
	}
	
	.arrow-top {
	   top: 39px;
	}
	
	.controls .controls-item {
	   font-size: 1.6em;
	}
	
	.controls .controls-selected {
	   padding: 5px 70px 0px 10px;
	}
	
	.controls .controls-selected-item {
	   width: 30px;
	}
	
	.controls .controls-nav {
	   margin: 5px;
	}
	
	.controls .nav-point {
	    width: 8px; 
	    height: 8px; 
	    border-radius: 2px;
	}
	
	.content {
	    top: 60px; 
	    left: 40px; 
	    right: 40px;
	    bottom: 40px;
	}
	
	.content .content-title {
	   font-size: 2.3em;
	}
	
    .content .content-text {
       font-size: 1.3em;
    }
    
    .controls .pulso-plus {
	    margin-left: -13px; 
	    margin-top: -10px;
    }
    
    .controls .pulso-minus {
	    margin-left: -15px;
	    margin-top: -10px;
	}
}

