<div ng-controller="mainCtrl" class="fullscreen">

<circle r="4" cx="0" cy="0" fill="#FFFFFF" stroke="#FFFFFF" fill-opacity="1" stroke-width="2" stroke-opacity="0" cursor="pointer" transform="translate(886,18) scale(1)" aria-label=" Jan 01, 2004 3.3" class="amcharts-graph-bullet lastBullet"></circle>

<div class="menu">
    <div class="menu-burger" ng-click="show_section = (show_section) ? false : true">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="menu-title animate-show" ng-show="current_depth>0">
        {{cards[current_id].title}}
    </div>
	<div class="menu-tool" ng-hide="show_section" ng-click="hide_tools = (hide_tools) ? false : true">
	   <span class="glyphicon glyphicon-cog"></span>
	</div>
	<div class="depth-bar">
	    <div class="depth-bar-progress" style="width: {{getProgress();}}%; background: rgba(255,0,0,0.8); height: 100%;">
	    </div>
	</div>
</div>

<div class="section-content animate-show" ng-include="'partials/menu.html'" ng-show="show_section"></div>

<div class="arrows animate-show" ng-hide="hide_tools || show_section">
	<div class="arrow arrow-left" ng-if="current_x > map.min_x" ng-click="changePosition(-1, 0);">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	</div>
	<div class="arrow arrow-right" ng-if="current_x < map.max_x" ng-click="changePosition(1, 0);">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	</div>
	<div class="arrow arrow-top" ng-if="current_y > map.min_y" ng-click="changePosition(0, -1);">
	    <span class="glyphicon glyphicon-chevron-up"></span>
	</div>
	<div class="arrow arrow-bottom" ng-if="current_y < map.max_y" ng-click="changePosition(0, 1);">
	    <span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="controls animate-show" ng-hide="hide_tools || show_section">
	<div class="controls-nav">
		<div ng-repeat="idy in range(map.min_y, map.max_y)">
		    <div class="nav-point" ng-repeat="idx in range(map.min_x,map.max_x)" ng-click="changePositionById(idx, idy);">
		       <div ng-if="idy==current_y && idx==current_x"></div>
		    </div>
		</div>
	</div>
	<div class="controls-item" ng-class="current_depth==max_depth ? 'disabled-control' : ''" ng-click="changeDepth(1);">
        <svg ng-if="current_depth<max_depth && last_depth==false" class="pulso-plus" expanded="true" height="47px" width="47px">
            <circle cx = "50%" cy = "50%" r = "0%" fill = "none" stroke = "red" stroke-width = "15%">
              <animate attributeType="SVG" attributeName="r" begin="0s" dur="1s" repeatCount="indefinite" from="0%" to="42%"/>
              <animate attributeType="CSS" attributeName="opacity" begin="0s"  dur="1s" repeatCount="indefinite" from="1" to="0.8"/>
            </circle>
        </svg>
        <span class="glyphicon glyphicon-plus"></span>
	</div>
    <div class="controls-item" ng-class="current_depth==0 ? 'disabled-control' : ''" ng-click="changeDepth(-1);">
        <svg ng-if="current_depth>0 && last_depth==true" class="pulso-minus" expanded="true" height="47px" width="47px">
            <circle cx = "50%" cy = "50%" r = "0%" fill = "none" stroke = "red" stroke-width = "15%">
              <animate attributeType="SVG" attributeName="r" begin="0s" dur="1s" repeatCount="indefinite" from="0%" to="42%"/>
              <animate attributeType="CSS" attributeName="opacity" begin="0s"  dur="1s" repeatCount="indefinite" from="1" to="0.8"/>
            </circle>
        </svg>
        <span class="glyphicon glyphicon-minus" style="margin-left: -4px;"></span>
    </div>
    <div class="controls-item">
        <div class="controls-selected animate-show" ng-show="show_social_menu">
            <div class="controls-selected-item">
                <span class="fa fa-facebook"></span>
            </div>
            <div class="controls-selected-item">
                <span class="fa fa-twitter"></span>
            </div>
        </div>
		<span class="glyphicon glyphicon-share" ng-click="show_social_menu = (show_social_menu) ? false : true"></span>
    </div>
</div>

<div class="cards-content fullscreen" ng-swipe-up="changePosition(0, 1);" ng-swipe-down="changePosition(0, -1);" ng-swipe-left="changePosition(1, 0);" ng-swipe-right="changePosition(-1, 0);">

	<!-- listado de tarjetones (wrap) -->
	<div class="fullscreen card-show" ng-repeat="(key, card) in cards" ng-show="card.pos_x==current_x && card.pos_y==current_y" position-x="{{card.pos_x}}" position-y="{{card.pos_y}}">
        <setvalue data-element="current_id" data-value="{{key}}" ng-if="card.pos_x == current_x && card.pos_y == current_y"></setvalue>
	
	    <!-- contenido profundidad 0 -->
	    <div class="fullscreen card-depth" ng-show="current_depth==0" ng-include="'partials/content.html'" onload="subcard = card"></div>
		
		<!-- contenedor contenido con profundidad -->
		<div class="card-depth-content" ng-if="card.pos_x == current_x && card.pos_y == current_y">
	        <setvalue data-element="max_depth" data-value="{{card.subcards.length}}"></setvalue>
	        
	        <!-- listado de contenido profundidad x -->
			<div class="fullscreen card-depth" ng-repeat="subcard in card.subcards" ng-show="subcard.depth == current_depth" ng-include="'partials/content.html'"></div>
		</div>
	</div>

</div>

</div>
