<div class="fullscreen background-img" ng-if="subcard.background_img" style="background-image: url('{{subcard.background_img}}');">
</div>
<div class="fullscreen" ng-if="subcard.background_video">
    <video class="background-video" loop muted autoplay ng-attr-poster="{{subcard.background_poster}}">
        <source ng-src="{{subcard.background_video | trustUrl}}" type="video/mp4">
    </video>
</div>
<div class="content" ng-hide="show_section">
    <div class="row row-tpl">
        <div class="col-md-12 content-title">{{subcard.title}}</div>
    </div>
    <div class="row row-tpl" ng-if="subcard.content">
        <div ng-repeat="content in subcard.content" ng-class="subcard.position === 'landscape' ? 'col-md-6' : 'col-md-12'">
            <div ng-class="content.class">
                <span ng-if="content.text" class="content-text">{{content.text}}</span>
                <div ng-if="content.html" ng-bind-html="content.html | trustHtml" width="100%"></div>
                <img ng-if="content.img" ng-src="{{content.img | trustUrl}}" width="100%"/>
                <video ng-if="content.video" ng-src="{{content.video | trustUrl}}" ng-attr-poster="{{content.poster}}" controls width="100%"/>
            </div>
        </div>
    </div>
</div>

