<div ng-controller="menuCtrl" class="fullscreen">

<!-- <div class="menu-red">
    <div style="position: absolute; left: 18px; top: 6px; font-size: 32px; color: #fff;">
       <a href="#/main"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    </div>
</div> -->

<div class="sections" style="overflow:auto; height: 100%;">
	<ul>
        <li ng-repeat="section in sections" style="overflow:hidden;">
            <a href ng-click="changeSection(section.id);" class="section-item" ng-class="show_section === section.id ? 'active' : ''">
                <span style="float: left;" class="glyphicon  {{section.icon}}"></span>
                <span style="float: right;" class="glyphicon glyphicon-menu-down"></span>
                <span style="margin-left: 20px;">{{section.name}}</span>
            </a>
            <div ng-show="show_section === section.id" class="section-cards animate-accordion">
				<div class="row">
				  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-2" ng-repeat="card in subcards[section.id]">
				    <a href="#" class="thumbnail">
				      <img src="{{card.background_img}}">
				      <div class="caption">{{card.text}}</div>
				    </a>
				  </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</div>
