<div ng-controller="menuCtrl" class="fullscreen">

<div class="menu-red">
    <div style="position: absolute; left: 18px; top: 6px; font-size: 32px; color: #fff;">
       <a href="#/main"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    </div>
</div>

<div class="sections" style="margin-top: 60px;">
	<ul class="nav nav-pills nav-stacked">
        <li ng-repeat="section in sections" role="presentation">
            <a href="#" style="color: #666; font-size: 18px;">
                <div style="display: inline-block;"><span style="font-size: 36px;" class="glyphicon  {{section.icon}}"></span></div>
                <div style="display: inline-block;">{{section.name}}</div>
            </a>
        </li>
    </ul>
</div>

</div>