<!DOCTYPE html>
<html ng-app="transmedia">
<head>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<meta charset="utf-8">
<title>Fullscreen backgrounds with centered content</title>
<meta name="description" content="Fullscreen backgrounds with centered content">

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

<script src="js/app.js"></script>
<script src="js/animations.js"></script>
<script src="js/controllers.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
html, body {
    height: 100%;
    overflow: hidden;
}

.background {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50%\9 !important;
}

.fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen.overflow {
    height: auto;
    min-height: 100%;
}
</style>
 
</head>
  
<body ng-controller="mainCtrl">

<div style="z-index :100; float:left; position: absolute; top: 50%; left: 10px; font-size: 32px;">
    <a href="#" ng-click="changePosition(-1, 0);"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span></a>
</div>
<div style="z-index :100; float:right; position: absolute; top: 50%; right: 10px; font-size: 32px;">
    <a href="#" ng-click="changePosition(1, 0);"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
</div>
<div style="z-index :100; float:left; position: absolute; top: 10px; left: 50%; font-size: 32px;">
    <a href="#" ng-click="changePosition(0, -1);"><span class="glyphicon glyphicon-chevron-up">&nbsp;</span></a>
</div>
<div style="z-index :100; float:left; position: absolute; bottom: 10px; left: 50%; font-size: 32px;">
    <a href="#" ng-click="changePosition(0, 1);"><span class="glyphicon glyphicon-chevron-down">&nbsp;</span></a>
</div>

<div ng-repeat="card in cards" ng-show="card.pos_x==current_x && card.pos_y==current_y" class="fullscreen card-show" position-x="{{card.pos_x}}" position-y="{{card.pos_y}}">
    <div class="fullscreen background" style="background-image:url('{{card.default_img}}');" data-img-width="1600" data-img-height="1064">
        <div class="content">
            Centered content
        </div>
    </div>
</div>

</body>
</html>